.header-container {
	width: 100%;
	text-align: center;
	margin-bottom: 50px; /* Space between the title and the cards */
}


.gradient-text {
	background: linear-gradient(204deg, #8500ffde 0%, #02daf7 25%, #8500ffde 50%, #02daf7 75%, #8500ffde 100%);
	background-size: 200% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: gradientShift 5s linear infinite alternate;
	font-size: 4rem;
	font-weight: 900;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}

