.userAgentNotificationContainer {
	position: fixed;
	top: 70px;
	left: auto;
	width: auto;
	height: auto;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: auto;
	visibility: visible;
	opacity: 1;
	transition: none;
}


.userAgentNotificationBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 600px;
	height: 50px;
	background: linear-gradient(0deg, #09272d, #07060e, #09272d);
	color: #00bbe0;
	padding: 20px 40px;
	border: 1px solid #e500ff;
	border-radius: 15px;
	font-size: 1.5rem;
	font-weight: bold;
	box-shadow: 0 0 20px #e500ff;
}


	.userAgentNotificationBox:hover {
		border: 1px solid cyan;
		box-shadow: 0 0 15px cyan;
	}

.userAgentNotificationMessage {
	color: #e500ff;
	align-self: center;
	line-height: 1.7rem;
	font-size: 25px;
}


.closeButtonUserAgentNotification {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
	border: 2px solid #f6096770;
	box-shadow: 0 0 10px #f60967ff;
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}


	.closeButtonUserAgentNotification:hover {
		background: radial-gradient(black, red);
		border: 2px solid #f6096770;
	}

.closeSignInButtonUserAgentNotification {
	position: static;
	width: auto;
	height: auto;
	color: red;
	text-align: center;
	align-content: center;
	cursor: default;
	font-size: 20px !important;
	line-height: 1;
	margin: 0;
}

	.closeSignInButtonUserAgentNotification:hover {
		color: cyan;
	}
